body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #fde1e3;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    color: #e91e63;
    font-size: 36px;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.message {
    flex-grow: 1;
    max-width: 400px;
}

.message p {
    margin-bottom: 15px;
    font-size: 16px;
}

.image-container {
    flex-shrink: 1;
    
}
.image-container img {
    max-width: 100%; /* Establece el ancho máximo al 100% del contenedor */
    height: auto; /* Permite que la altura se ajuste automáticamente para mantener la relación de aspecto */
}

img {
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.spotify-player {
    flex-shrink: 1;
    width: 300px;
    margin-left: 20px;
}
.image-container img {
    display: none; /* Oculta todas las imágenes por defecto */
}

.image-container img:first-child {
    display: block; /* Muestra solo la primera imagen */
}